<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckSelfPost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73FE034E1DA1FAC0003C321E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73FE03621DA1FAC0003C321E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73FE036D1DA1FAC0003C321E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
